<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5800.0">
	<Sites>
		<add SiteName="SitefinityDemo" SiteId="41fbcf5a-fb5e-4524-890b-6b8af2cd9c2e" />
	</Sites>
</analyticsConfig>