<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5800.0">
	<notifications newPostNotificationTemplateId="5d6da902-aefb-6b97-9a81-ff00008adc7f" newThreadNotificationTemplateId="5e6da902-aefb-6b97-9a81-ff00008adc7f" />
</forumsConfig>