<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5800.0">
	<connectors>
		<add librariesProviderName="sf_translations_lib_provider" exportLibraryId="de4e67d7-3a2a-48de-98dd-529fd00b3896" importLibraryId="7099a4dc-4591-400c-9402-b85588caf897" name="Xliff" />
	</connectors>
</translationsConfig>